# Python
__pycache__/
*.py[cod]
.venv/
.env
*.log
*.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDEs
.idea/
*.iml
.vscode/

# Java/Kotlin
*.class
*.jar
*.war

# OS files
.DS_Store

# Editor swap files
*.swp